JWT_SECRET=secret

AI_GATEWAY_API_KEY=your-key
AI_MODEL=your_model

DATABASE_URL="mysql://db:password*@localhost:3306/name-data-base"

REDIS_URL=

# database
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASS=your_password
DB_NAME=your_name_database

ACCESS_TOKEN_TTL=3600
REFRESH_TOKEN_TTL=604800

PASSWORD_TOKEN_TTL=900
PASSWORD_SECRET=yoursecrest

# mailer
MAIL_AUTH_USER=thanh090800@gmail.com
MAIL_AUTH_PASS="your auth pass"
EMAIL_SECRET=your_email_secrect
EMAIL_TOKEN_TTL=7200
EMAIL_FROM=<your email>
EMAIL_TO= send to email

# FRONTEND_URL=https://truongvd05.github.io/fe-day-7

# CLIENT_URL=https://truongvd05.github.io

